name: versions

on:
  pull_request:
    paths-ignore:
      - '**.md'    
  push:    
    branches:
      - main
      - releases/*
    paths-ignore:
      - '**.md'
      
jobs:
  local-cache:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [10, 12, 14]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: ./
        with:
          node-version: ${{ matrix.node-version }}
      - name: Verify node and npm
        run: __tests__/verify-node.sh "${{ matrix.node-version }}"
        shell: bash

  lts-syntax:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [lts/dubnium, lts/erbium, lts/fermium, lts/*]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: ./
        with:
          node-version: ${{ matrix.node-version }}

  manifest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [10.15, 12.16.0, 14.2.0, 16.3.0]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: ./
        with:
          node-version: ${{ matrix.node-version }}
      - name: Verify node and npm
        run: __tests__/verify-node.sh "${{ matrix.node-version }}"
        shell: bash

  check-latest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [10, 12, 14]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node and check latest
        uses: ./
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
      - name: Verify node and npm
        run: __tests__/verify-node.sh "${{ matrix.node-version }}"
        shell: bash

  node-dist:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [11, 13]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node from dist
        uses: ./
        with:
          node-version: ${{ matrix.node-version }}
      - name: Verify node and npm
        run: __tests__/verify-node.sh "${{ matrix.node-version }}"
        shell: bash

  old-versions:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      # test old versions which didn't have npm and layout different
      - name: Setup node 0.12.18 from dist
        uses: ./
        with:
          node-version: 0.12.18
      - name: Verify node
        run: __tests__/verify-node.sh 0.12.18 SKIP_NPM
        shell: bash

  arch:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node 14 x86 from dist
        uses: ./
        with:
          node-version: '14'
          architecture: 'x86'
      - name: Verify node
        run: __tests__/verify-arch.sh "ia32"
        shell: bash
